<h1>Edit restaurant</h1>
<%= link_to "List of restaurants", restaurants_path %> |
<%= link_to "Delete", @restaurant, method: :delete, data: { confirm: "Are you sure you want to delete this restaurant?" } %>

<%= render "form" %>