// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurants_container {
	background: #c6e1eb;
	margin: 20px auto 0;
	padding: 10px 25px 25px;
	width: 960px;
	border-radius: 8px;
}

.restaurants_container td {
	width: 200px;
}

.restaurants_container th {
	text-align: left;
}

.restaurants_table tr:nth-child(even) {
	background: #f2f2f2;
}

.create_restaurant {
	width: 200px;
	height: 50px;
}